@media screen and (max-width: 400px), screen and (max-device-width: 400px) {
	body {
		margin: 0;
		padding: 0;
	}
	#main {
		padding: 10px;
		width: 320px;
		height: 480px;
		border-radius: 0;
	}
	h1 {
		margin: 5px 0;
	}
	#left, #right {
		display: block;
	}
}